.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: aptifer-reg;
  src: url("assets/aptifer-slab-regular.ttf");
}

@font-face {
  font-family: proxima-reg;
  src: url("assets/ProximaNova-Regular.ttf");
}

.aptifer {
  font-family: aptifer-reg;
}

.proxima {
  font-family: proxima-reg;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #181818;
  height: 400px;
  background-image: url("assets/footer.png");
  background-repeat:no-repeat;
  background-position: center center;
}

.whiteText {
  color:white;
}

.font16 {
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
