.circle {
    background-color: white;
    border-radius: 15px;
    width:15px;
    height:15px;
    margin-left:2px;
}

.circle.wrong {
    background-color: red;
    border-radius: 15px;
    width:15px;
    height:1    5px;
    margin-left:2px;
}

.inline {
    display: inline-block;
}