.TopPanelCont {
    background-color: #181818;
}

.lightBlueText {
    color:#47ADE2;
    font-size:16px;
}

.lightBlueText:hover {
    color:white;
}

.navbar-toggler {
    border:0px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(71,173,226, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color:#47ADE2;
}

.navbar-light .navbar-nav .nav-link:hover {
    color:white;
}